.style {
    padding: 4px;
}
.style_1 {
    padding: 4px;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent url(tile_watercolor_blue_med100.jpg) repeat scroll top left;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_External_620_63 {
    position: relative;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_External_620_34 {
    position: relative;
}
.style_External_700_600 {
    position: relative;
}
.Body {
    color: rgb(112, 107, 83);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(0, 118, 186);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 46px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 55px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_620_63 {
    position: relative;
}
.Normal_External_620_59 {
    position: relative;
}
.Normal_External_620_34 {
    position: relative;
}
.Title {
    color: rgb(0, 118, 186);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_700_14 {
    position: relative;
}
.graphic_shape_layout_style_default_External_700_600 {
    position: relative;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(218, 247, 255);
    opacity: 1.00;
}
.image_cluster_layout_style_default {
    padding: 0px;
}
.image_cluster_layout_style_default_External_183_30 {
    position: relative;
}
a {
    color: rgb(50, 85, 110);
    text-decoration: underline;
}
a:visited {
    color: rgb(85, 98, 111);
    text-decoration: underline;
}
a:hover {
    color: rgb(0, 118, 186);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(50, 85, 110);
    text-decoration: underline;
}
#widget1 a {
    color: rgb(50, 85, 110);
    text-decoration: underline;
}
#widget2 a {
    color: rgb(50, 85, 110);
    text-decoration: underline;
}
#widget3 a {
    color: rgb(50, 85, 110);
    text-decoration: underline;
}
#id5 div.caption {
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
}
#widget1 .Comment_Posted_Date {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget2 a:hover {
    color: rgb(0, 118, 186);
    text-decoration: underline;
}
#widget2 a:visited {
    color: rgb(85, 98, 111);
    text-decoration: underline;
}
#widget2 .Caption {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#id5 canvas {
    z-index: -1;
}
#widget0 a:visited {
    color: rgb(85, 98, 111);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget2 .Comment_Posted_Date {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#id5 div.caption span.title {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
}
#widget1 a:hover {
    color: rgb(0, 118, 186);
    text-decoration: underline;
}
#widget2 {
    display: none;
}
#widget3 a:visited {
    color: rgb(85, 98, 111);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(85, 98, 111);
    text-decoration: underline;
}
#widget0 a:hover {
    color: rgb(0, 118, 186);
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget3 .Comment_Posted_Date {
    color: rgb(50, 85, 110);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget3 a:hover {
    color: rgb(0, 118, 186);
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
